.mde-firefox .kpi-monitoring-page {
  .dx-data-grid .dx-row.dx-header-row:first-child {
    border: none;
  }
}

.kpi-case-filter {
  font-weight: 500;
  color: color(blue-grey);

  input {
    font-weight: 500 !important;
    color: color(blue-grey);
  }
  &.dx-texteditor {
    &.dx-editor-underlined:after {
      border-bottom: none !important;
    }
  }
}

.kpi-grids {
  .dx-datagrid-table {
    border-collapse: separate;
  }
}

.view-box {
  @extend .pt-4;
  @extend .pb-4;
  @extend .pl-6;
  @extend .pr-6;
  @extend .fc-white;
  @extend .border-radius;
  background-color: color(strong-grey);
}

.kpi-td-parent {
  .dx-template-wrapper {
    height: 100%;
  }
}

.kpi-td {
  height: 100%;
}

.cr-red {
  @extend .mr-8;
  background-color: color(red);
  width: 13px;
  height: 13px;
  border-radius: 7px;
}
.cr-yellow {
  @extend .mr-8;
  background-color: color(light-yellow);
  width: 13px;
  height: 13px;
  border-radius: 7px;
}
.cr-gr {
  @extend .mr-8;
  background-color: color(green);
  width: 13px;
  height: 13px;
  border-radius: 7px;
}

.kpi-text-center {
  div {
    text-align: center;
  }
}

.kpi-i-table-container {
  .kpi-i-table-title {
    @extend .fz12;
    color: color(mid-grey);
  }
  .kpi-i-table-comment {
    @extend .fz12;
    color: color(blue-grey);
  }
}

.kpi-i-table {
  margin-top: 4px;
  thead {
    td {
      @extend .font-medium;
      @extend .py-4;
      @extend .fz12;
      border: 1px solid;
      border-color: color(light);
      border-left-width: 0px;

      color: color(mid-grey);
      text-align: center;
      background-color: color(light-beige);

      &:nth-child(1) {
        border-left-width: 1px;
      }
    }
  }
  tbody {
    td {
      @extend .py-4;
      @extend .fz12;
      color: color(blue-grey);

      text-align: center;
      border: 1px solid;
      border-color: color(light);
      border-top-width: 0px;
      border-left-width: 0px;
      &:nth-child(1) {
        border-left-width: 1px;
      }
    }
  }
}
