$sizes: (
  cols: 12,
  tab-cols: 15,
  grid-gap: 24px,
  border-radius: 2px,
  devextreme-font-size: 17px,
);

// prettier-ignore
$colors: (
  black: #000000,
  white: #FFFFFF,
  background: #E5E5E5,
  dark-grey: #3B3B3B,
  grey: #444544,
  mid-grey: #525155,
  strong-grey: #DBDBDB,
  blue-grey: #717776,
  devextreme-grey: #a1a1a1,
  mid-light-grey: #DDDDDD,
  light-grey: #BCBCBC,
  mde-light-grey: #d7d7d7,
  lightest-grey: #E0E0E0,
  half-light-grey: #DEDEDE,
  light: #EBEBEB,
  lightest: #E7E7E7,
  beige: #EEEDEB,
  light-beige: #F4F0E9,
  grey-white: #F9F9F9,
  super-light: #F5F4F2,
  super-light-grey: #FBFBFB,
  light-yellow: #FFDA44,
  yellow: #FBBA00,
  mde-logo-orange: #fab906,
  orange: #F49719,
  gold: #AF7A00,
  blue: #3198BB,
  blue-green: #31B1B8,
  dark-blue: #43A7CB,
  green-blue: #547980,
  dark-red: #A50000,
  red: #E41E21,
  light-green: #e3f3e8,
  green: #6da544,
  yellow-green: #3ACA60
);
