.border-bottom {
  border-width: 0 0 1px 0;
}

.border-dark-grey {
  border-color: color(dark-grey);
}

.border-left {
  border-width: 0 0 0 1px;
}

.border-light {
  border-color: color(light);
}

.border-light-grey {
  border-color: color(light-grey);
}

.border-lightest-grey {
  border-color: color(lightest-grey);
}

.border-radius {
  border-radius: size(border-radius);
}

.border-right {
  border-width: 0 1px 0 0;
}

.border-solid {
  border-style: solid;
}

.border-top {
  border-width: 1px 0 0 0;
}

.border-x {
  border-width: 0 1px 0 1px;
}

.border-y {
  border-width: 1px 0 1px 0;
}

.borders {
  border-width: 1px;
}

.box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hr {
  border-color: color(light);
}

.no-border {
  border: none;
}

.white-border {
  border-color: color(white);
}
