.confirm-dialog {
  .dx-overlay-content {
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .dx-popup-content {
      padding: 24px;

      .message {
        font-size: 16px;
        text-align: left;
      }

      .btn-group {
        text-align: right;

        .dx-button {
          box-sizing: border-box;
          border-radius: 2px;
          box-shadow: none;

          .dx-button-text {
            font-size: 14px;
            line-height: 16px;
            text-transform: none;
          }

          &.primary-btn {
            background: color(yellow);
            border: 1px solid color(yellow);
            &:hover {
              box-shadow: 0px 0px 4px rgba(131, 75, 0, 0.44);
            }
            .dx-button-text {
              color: color(white);
            }
          }

          &.secondary-btn {
            background: color(white);

            &:hover {
              box-shadow: 0px 0px 4px rgba(68, 69, 68, 0.12);
            }

            .dx-button-text {
              color: color(yellow);
            }
          }
        }
      }
    }
  }
}
