.landing-support-popup {
  .landing-support-popup-content {
    padding: 16px 16px 16px 16px;
  }

  .landing-support-popup-text-area {
  }

  .landing-support-popup-link {
    color: color(dark-blue);

    text-decoration: none;
  }
}
